#container {
    display: block;
}

#container .row {
    display: flex;
    border-color: aqua;
}

.col {
    padding: 20px;
    border-style: solid;
    background-color: aliceblue;
}

.col:hover {
    background-color: black;
}