#container {
    display: block;
}

#container .row {
    display: flex;
    border-color: aqua;
}

#container .row .col {
    padding: 20px;
    border-style: solid;
    background-color: aliceblue;
}